
{% trans_default_domain 'Client' %}

<form class="form-btn"  method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('{{'Client.index.confirmDeleteMsg' | trans}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-sm btn-danger">{{'Client.actions.delete'|trans}}</button>
</form>

