<!doctype html>
{% set locale = app.request.getLocale() | default("fr") %}

{% if locale == "ar_MA" %}
    <html lang="ar_MA" dir="rtl">
{% else %}
    <html lang="fr" dir="ltr">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <title>{% block title %}Application Title{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            const inputFile = event.currentTarget;
            console.log('hello');
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });



    </script>
{% endblock %}
</body>
</html>
