<div style="display: flex; align-items: center; justify-content: center; height:100%">
  
	<div>
    <h1 style="font-size: 4em;">
      Oops !!
    </h1>
		<p> This page you are looking for does not exit <p>
		<p> please <a href="https://www.idara.ibschool.ma"> go back</a> or entrer a valid link <p>
	</div>
	<div>
		<img src="{{ asset('/app/img/error_image.png') }}" alt="" style="max-width: 80%" >
	</div>

</div>

